.card {
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(220, 10, 10);
}

.btn {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

a {
  color: black;
}
